<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.travel.dao.PictureMapper">

    <resultMap id="BaseResultMap" type="com.backend.travel.POJO.entity.Picture">
            <id property="pictureId" column="pictureId" jdbcType="BIGINT"/>
            <result property="pictureUrl" column="pictureUrl" jdbcType="VARCHAR"/>
            <result property="travelId" column="travelId" jdbcType="BIGINT"/>
            <result property="commentId" column="commentId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        pictureId,pictureUrl,travelId,
        commentId
    </sql>
</mapper>
