<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.travel.dao.SysAccountRoleMapper">

    <resultMap id="BaseResultMap" type="com.backend.travel.POJO.entity.SysAccountRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="accountId" column="accountId" jdbcType="BIGINT"/>
            <result property="roleId" column="roleId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,accountId,roleId
    </sql>
</mapper>
